<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Spring_module</display-name>

  <servlet-mapping>
  <servlet-name>viewxml</servlet-name>
  <url-pattern>/view/userInfo</url-pattern>
  <url-pattern>/view/signIn</url-pattern>
  <url-pattern>/view/change</url-pattern>
  <url-pattern>/view/remove</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>viewxml</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
</web-app>